* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
	outline: none;
}

body,
input,
button,
textarea {
	font-family: $fontfamily;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}